// ===============
// Font Style
// ===============

$font-karla: "Karla", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

// ===============
// Font Size
// ===============

$font-size-big-header: 115px;
$font-size-header-1: 45px;
$font-size-header-2: 32px;
$font-size-body: 18px;
$font-size-small: 14px;

// ===============
// Font Weight
// ===============

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// ===============
// Line Height
// ===============

$line-height-big-gap: 2.25;
$line-height-medium-gap: 1.5;
$line-height-small-gap: 1.15;

// ===============
// Color
// ===============

$grey-color: #f8f8fa;
$dark-grey-color: #bdbdbd;
$light-grey-color: #e5e5e5;
$yellow-color: #f2c233;
$off-black-color: #333333;
$green-color: #1fbf84;
$red-color: #ff686a;
$white-color: #fff;

// ===============
// Window Sizing
// ===============

$max-body-width: 1152px;

// ===============
// Transition
// ===============

$transition-color-button: all 0.2s ease-out;
