@import "utils";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: $max-body-width;
  background-color: $grey-color;
  font-family: "Karla", sans-serif;
  font-size: 18px;
}

button {
  border: none;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

// classes
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.6);
}
