@import "utils";

.modal-container {
  position: absolute;
  width: 922px;
  height: 428px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 50px;
  box-shadow: 4px 0px 25px 0px rgba(0, 0, 0, 0.15);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  .delete-confirmation-question {
    position: relative;
    text-align: center;
    font-size: 45px;
    color: $green-color;
    margin: 100px;
    margin-bottom: 50px;

    > span {
      color: black;
    }
  }

  .delete-item-button {
    position: relative;
    width: 259px;
    height: 69px;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 18px;
    background-color: $green-color;
    color: $grey-color;

    &:hover {
      background-color: $grey-color;
      color: $green-color;
    }
  }

  .close-button {
    position: absolute;
    right: 50px;
    top: 50px;
  }
}
