@import "utils";

.delete-confirmation-modal {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;

  .delete-confirmation-question {
    position: relative;
    text-align: center;
    font-size: 45px;
    color: $green-color;
    margin: 100px;
    margin-bottom: 50px;

    > span {
      color: black;
    }
  }

  .delete-item-button {
    margin: 0 auto;
  }
}
