@import "utils";

.header-container {
  position: relative;
  margin-bottom: 50px;

  .web-app-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 115px;
    color: $green-color;
  }

  .spending-money {
    font-size: 45px;
    margin-bottom: 10px;
  }

  .percentage-and-total-money-subnote {
    font-weight: 700;
    color: $dark-grey-color;
  }

  .add-item-button,
  .settings-button {
    position: absolute;
    top: 35px;
    height: 87px;
    border: none;
    border-radius: 10px;
  }

  .add-item-button {
    right: 100px;
    width: 251px;
    background-color: $green-color;
    color: $grey-color;
    font-size: 45px;
    font-weight: 700;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #fff;
      color: $green-color;
    }
  }

  .settings-button {
    right: 0;
    width: 87px;
    background-color: transparent;
    color: $green-color;
    transition: transform 0.2s ease;

    &:hover {
      transform: rotate(45deg);
    }
  }
}
