@import "utils";

.item-modal {
  overflow: scroll;

  .item-title {
    margin-bottom: 7px;
  }

  .subheading {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
  }

  .item-form {
    display: grid;
    grid-gap: 25px;

    .input-container {
      > label {
        display: inline-block;
        margin-bottom: 10px;
      }
      > input {
        width: 100%;
      }
    }

    .name-input-container {
      // max-width: 594px;
    }

    .item-cost-input-container {
      grid-column: 2;
      // max-width: 388px;
      // justify-self: right;
    }
    .description-input-container,
    .link-input-container {
      grid-column: 1 / span 2;
      // max-width: 1004px;
    }

    .priority-container {
      grid-column: 1 / span 2;

      .priority-button {
        border-radius: 5px;
        background-color: transparent;
        height: 45px;
        width: 155px;
        margin: 0 10px;

        &#high {
          border: 2px solid $red-color;
          color: $red-color;

          &:hover,
          &.active {
            color: $grey-color;
            background-color: $red-color;
            border-color: $red-color;
          }
        }

        &#med {
          border: 2px solid $yellow-color;
          color: $yellow-color;

          &:hover,
          &.active {
            color: $grey-color;
            background-color: $yellow-color;
            border-color: $yellow-color;
          }
        }

        &#low {
          border: 2px solid $dark-grey-color;
          color: $dark-grey-color;

          &:hover,
          &.active {
            color: $grey-color;
            background-color: $dark-grey-color;
            border-color: $dark-grey-color;
          }
        }
      }
    }
  }
}
