<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

    <div class="display">{{ list }}</div>
    <!--<div class="container">-->
        <!--<div class="row item">-->
            <!--<div class="col-5 name-col">Item 1</div>-->
            <!--<button type="button" class="btn btn-danger delete">Delete</button>-->
        <!--</div>-->
    <!--</div>-->

    <div class="container-fluid item-wrapper">
        {% for item in list %}
            <div class="row item">
                <div class="priority">{{ item[2] }}</div>
                <div class="col-5 name-col">{{ item[1] }}</div>
                <div class="id">{{ item[0] }}</div>
                <div class="price">{{ item[4] }}/{{ item[3] }}</div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#itemModal">Edit</button>
                <button type="button" class="btn btn-danger delete">Delete</button>
            </div>
        {% endfor %}
    </div>

    <button class="refresh">Refresh</button>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {

            $.fn.myFunction = function(list){
                // console.log(list);
                $(this).empty();
                var result = $(this);
                for(var i = 0; i < list.length; i++) {

                    // console.log(list[i])
                    var id = list[i][0];
                    var name = list[i][1];
                    var priority = list[i][2];
                    var price = list[i][3];
                    var allocated_money = list[i][4];


                    result.append("<div class='row item'></div>");
                    var row = $(".item").last();

                    row.append("<div class='col-5 name-col'>" + name + "</div>");
                    row.append("<button type='button' class='btn btn-danger delete'>Delete</button>");
                }
                return result;
            };

            $(".container").on("click", ".delete", function() {
                console.log("In here");
            });

            $(".refresh").click(function(event) {

                $.ajax({
                    data: {},
                    type: "POST",
                    url: "/test"
                })
                .done(function(data) {
                    $(".display").text(data.items);
                    $(".container").myFunction(data.items);
                });
            });

        });


    </script>
</body>
</html>
